:root {
  
  --p-stop-1: #C0C;
  --p-stop-2: #26E;
  --c-stop-1: #0DD;
  --c-stop-2: #26E;
  --pinkish: linear-gradient(to bottom, var(--p-stop-1), var(--p-stop-2));
  --cyanish: linear-gradient(to bottom, var(--c-stop-1), var(--c-stop-2));
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  font-family: "monotalic", monospace;
  font-style: normal;
  color: #eee;
  background: #222 linear-gradient(to top right, #402, #136);
}

.blexit {
  margin: 0;
  font-size: min(03vw, 10vh);
  font-weight: 700;
  background: var(--pinkish);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.fire {
  font-weight: 700;
  margin: 0.2em 0;
  font-size: min(09vw, 35vh);
  background: #eee var(--cyanish);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.days, .hrs, .mins, .secs {
  font-family: 'monotalic-wide', monospace;
}

.sep, .days-label {
  background: var(--pinkish);
  font-size: 0.666em;
  vertical-align: middle;
  -webkit-background-clip: text;
  background-clip: text;
  transition: opacity 0.2s;
}

.fire.blink .sep {
  opacity: 0;
}

.elsewhere {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  font-size: min(04vw, 15vh);
  gap: 0.2em;
}

.elsewhere a, .elsewhere button {
  display: block;
  width: auto;
  height: auto;
  font-size: inherit;
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.elsewhere svg {
  height: 1em;
  width: 1em;
}

.elsewhere svg .stuff {
  fill: url('#pinkishGrad');
}
.elsewhere :is(a, button):hover svg .stuff {
  fill: url('#cyanishGrad');
}

#svgGrads {
  height: 0;
  width: 0;
  position: absolute;
  top: 100%;
  right: 100%;
  visibility: hidden;
}

.discord {
  position: relative;
}

.discord-info {
  font-size: 1.2rem;
  position: absolute;
  bottom: 100%;
  left: -6rem;
  right: -6rem;
  text-align: center;
  background: #333;
  padding: 0.8rem;
  border-radius: 1rem;
  box-shadow: 0 0.2rem 0.5rem #000;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.discord-info h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

.discord-info :first-child {
  margin-top: 0;
}
.discord-info :last-child {
  margin-bottom: 0;
}

.discord-info:not(.active) {
  display: none;
}

.caption {
  font-size: 0.7em;
}